.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes borderr {
  0% {
    width: 0;
    transform: scaleX(1); }
  100% {
    width: 100%;
    transform: scaleX(1); } }

@keyframes sticky {
  0% {
    opacity: 0.3;
    transform: translateY(120%); }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes goaway {
  0% {
    opacity: 1; }
  99% {
    transform: translateY(-150%); }
  100% {
    visibility: hidden;
    display: none; } }

@keyframes opacity {
  0% {
    background-color: #fff; }
  100% {
    background-color: #d6b39f; } }

@font-face {
  font-family: 'montserrat';
  src: url("/css/fonts/Montserrat-Regular.eot");
  /* IE9 Compat Modes */
  src: url("/css/fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/css/fonts/Montserrat-Regular.ttf") format("truetype"), url("/css/fonts/Montserrat-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'game_of_thronesregular';
  src: url("../css/fonts/game_of_thrones-webfont.woff2") format("woff2"), url("../css/fonts/game_of_thrones-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

font-face {
  font-family: "Myriad Pro";
  src: url("//db.onlinewebfonts.com/t/3dd6e9888191722420f62dd54664bc94.eot");
  src: url("//db.onlinewebfonts.com/t/3dd6e9888191722420f62dd54664bc94.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3dd6e9888191722420f62dd54664bc94.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3dd6e9888191722420f62dd54664bc94.woff") format("woff"), url("//db.onlinewebfonts.com/t/3dd6e9888191722420f62dd54664bc94.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3dd6e9888191722420f62dd54664bc94.svg#Myriad Pro") format("svg"); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 48em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'montserrat';
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh; }

.wrapper {
  max-width: auto;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column; }

.header {
  height: 8rem;
  display: flex;
  width: auto;
  justify-content: space-around;
  align-content: center; }

.section1 {
  height: 85rem;
  background-image: url("../img/section1/background.png");
  display: flex;
  flex-direction: column; }

.section2 {
  display: flex;
  justify-content: space-between;
  padding: 7rem 0;
  width: auto;
  height: auto; }

.section3 {
  background-color: #ba813f;
  height: 20rem;
  display: flex;
  align-items: stretch;
  justify-content: center; }

.section4 {
  height: auto;
  background-image: url("../img/section4/background.png");
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center; }

.section5 {
  display: flex;
  align-items: center; }

.section6 {
  position: relative; }
  .section6::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/section6/background.png");
    background-size: cover;
    filter: saturate(0%); }

.header__left {
  display: flex;
  align-items: center; }

.header__right {
  display: flex;
  align-items: center; }

.header__logo {
  height: 4.4rem;
  width: auto;
  display: flex;
  align-content: center;
  margin-right: 2rem; }
  .header__logo img {
    max-width: 20rem; }

.header__search form {
  display: flex; }
  .header__search form input {
    width: 29rem;
    height: 4.3rem;
    outline: none;
    background-color: #f9f9f9;
    border: 1px solid #eaeaea;
    border-radius: 5px 0 0 5px; }
    .header__search form input::placeholder {
      padding-left: 1rem; }
  .header__search form button {
    width: 6rem;
    height: 4.3rem;
    background-color: #f9f9f9;
    border: 1px solid #eaeaea;
    outline: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0; }
  .header__search form button > img {
    width: 2rem; }

.header__account {
  display: flex;
  margin-right: 4rem;
  cursor: pointer; }
  .header__account--logo {
    margin-right: 1rem; }
    .header__account--logo img {
      width: 2.2rem;
      height: 2.2rem; }
  .header__account--text {
    color: #007393;
    font-size: 1.5rem;
    font-weight: bold; }

.header__cart {
  display: flex;
  cursor: pointer; }
  .header__cart--logo {
    margin-right: 1rem; }
    .header__cart--logo img {
      width: 2.2rem;
      height: 2.2rem; }
  .header__cart--text {
    color: #007393;
    font-size: 1.5rem;
    font-weight: bold; }

@media only screen and (max-width: 425px) {
  __serach {
    display: none; } }

.cascade:nth-child(1) {
  z-index: 5;
  transform: translateY(-1rem) translateX(-10rem); }

.cascade:nth-child(2) {
  z-index: 4;
  transform: translateY(-2rem) translateX(-20rem); }

.cascade:nth-child(3) {
  z-index: 3;
  transform: translateY(-3rem) translateX(-30rem); }

.cascade:nth-child(4) {
  z-index: 2;
  transform: translateY(-4rem) translateX(-40rem); }

.cascade:nth-child(5) {
  z-index: 1;
  transform: translateY(-5rem) translateX(-50rem); }

.section1 {
  position: relative; }
  .section1__title {
    font-size: 5rem;
    font-family: game_of_thronesregular;
    font-weight: 500;
    margin-left: 20rem;
    margin-top: 15rem; }
  .section1__books {
    display: flex;
    transform: translateX(28rem);
    margin-top: 5rem;
    max-width: 50vw; }
    .section1__books img {
      height: 42rem; }
  .section1__offer {
    background-color: #cb2a13;
    width: 20rem;
    height: 20rem;
    border-radius: 3rem;
    position: absolute;
    bottom: -2rem;
    left: 34rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem; }
  .section1__oldprice {
    font-size: 2.1rem;
    line-height: 1rem;
    color: #ffffff;
    margin-top: auto;
    position: relative; }
    .section1__oldprice p {
      margin: 0; }
    .section1__oldprice img {
      position: absolute;
      width: 18rem;
      height: 2rem;
      top: -.3rem;
      left: -5rem; }
  .section1__newprice {
    font-size: 3.5rem;
    line-height: 3.3rem;
    color: #ffffff;
    margin-top: 1rem; }
  .section1__counter {
    height: 16rem;
    width: 66rem;
    border-radius: 4.5rem 0 0 4.5rem;
    background-color: #696969;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4rem;
    position: absolute;
    bottom: 5rem;
    right: 0;
    overflow: hidden; }
    .section1__counter--title {
      font-size: 2.8rem;
      color: #ffffff;
      margin-bottom: .5rem; }
    .section1__counter--content {
      display: flex; }
      .section1__counter--content p {
        font-size: 3rem;
        line-height: 1.5;
        font-weight: bold;
        margin: 0 .2rem; }
    .section1__counter--time {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .section1__counter--time div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        padding: 0 1rem;
        border-radius: .5rem;
        background-image: linear-gradient(to bottom, #ffffff 50%, #eaeaea 50%);
        font-size: 3rem;
        width: 6rem; }
      .section1__counter--time p {
        color: #ffffff;
        font-size: 2rem;
        text-transform: uppercase; }

.reflect {
  font-size: 5rem;
  line-height: 121px;
  position: relative;
  text-transform: uppercase; }

.reflect::after {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: -3.9rem;
  left: 0;
  color: #FFD700;
  display: block;
  content: 'PACHETUL GAME OF THRONES';
  transform: scaleY(-1);
  opacity: .3; }

@media only screen and (max-width: 425px) {
  .section1__books {
    display: none; } }

.section2__left {
  position: relative; }
  .section2__left img {
    position: absolute;
    top: 0;
    height: 40rem; }
  .section2__left img:nth-child(2) {
    height: 28rem;
    top: 9rem; }

.section2__right {
  position: relative; }
  .section2__right img {
    position: absolute;
    top: 0;
    right: 0;
    height: 40rem; }
  .section2__right img:nth-child(2) {
    height: 28rem;
    top: 9rem; }

.section2__center {
  display: flex;
  flex-direction: column;
  align-items: center; }

.section2__title {
  display: flex;
  margin-bottom: 4rem;
  margin-top: 5rem; }
  .section2__title--1 {
    font-size: 3rem; }
  .section2__title--2 {
    font-family: game_of_thronesregular;
    font-size: 3rem; }

.section2__content {
  display: flex;
  margin-bottom: 5rem;
  margin-top: 5rem; }
  .section2__content--left {
    display: flex;
    flex-direction: column;
    margin-right: 16rem; }
    .section2__content--left div {
      display: flex;
      align-items: center;
      margin-bottom: 2rem; }
      .section2__content--left div img {
        height: 3rem;
        margin-right: 1rem; }
      .section2__content--left div p {
        font-size: 2rem;
        font-weight: 600; }
  .section2__content--right {
    display: flex;
    flex-direction: column; }
    .section2__content--right button {
      color: #ffffff;
      background-color: #cb2a13;
      border-radius: 3rem;
      width: 30rem;
      height: 7rem;
      font-size: 2.2rem;
      margin-top: 2rem;
      border: none;
      cursor: pointer; }

.section2__prices {
  display: flex;
  align-items: flex-end; }

.section2__oldprice {
  text-align: center;
  font-size: 2rem;
  position: relative;
  width: 15rem; }
  .section2__oldprice img {
    width: 15rem;
    height: 1.2rem;
    position: absolute;
    top: 1rem;
    left: 0; }

.section2__newprice {
  font-size: 4rem;
  color: red;
  line-height: 1.2; }

.section2__description {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section2__description p {
    font-size: 1.8rem;
    font-weight: 500;
    width: 77.8rem; }
  .section2__description p:first-child {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 3rem; }

@media only screen and (max-width: 425px) {
  .section2 {
    display: none; } }

.section3__square {
  padding-top: 3rem;
  width: 27rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  border-right: 3px solid #ffffff; }
  .section3__square:first-child {
    border-left: 3px solid #ffffff; }
  .section3__square--title {
    font-size: 5rem; }
  .section3__square--description {
    font-size: 1.8rem;
    text-align: center;
    padding: 0 2rem; }

@media only screen and (max-width: 425px) {
  .section3 {
    display: none; } }

.section4 h2 {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  margin-top: 20rem;
  margin-bottom: 8rem;
  width: 110rem; }

.section4 div {
  width: 97rem;
  display: flex;
  justify-content: flex-start;
  font-size: 2.2rem;
  margin-bottom: 7rem; }
  .section4 div ol {
    list-style: decimal;
    margin-right: 3rem;
    margin-left: 2rem; }
  .section4 div ul {
    list-style: none; }

.section4__description {
  width: 80rem;
  flex-direction: column;
  font-size: 1.8rem;
  text-align: justify; }
  .section4__description p {
    margin-bottom: 3rem; }

@media only screen and (max-width: 425px) {
  .section4 {
    display: none; } }

.section5__content {
  margin: 20rem auto;
  height: auto;
  width: 100rem; }
  .section5__content h2 {
    margin-bottom: 5rem;
    font-size: 3.2rem;
    font-weight: 500; }

.section5__wolf {
  height: 33rem; }

.section5 .item {
  width: 40rem; }
  .section5 .item p {
    font-size: 2rem;
    text-align: justify;
    margin-bottom: 2rem;
    font-style: italic;
    height: 20rem; }
  .section5 .item h2 {
    text-align: end;
    margin-bottom: 5rem;
    font-size: 2.6rem;
    font-weight: 600; }

.owl-theme .owl-controls .owl-page {
  display: inline-block; }

.owl-theme .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #869791;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px; }

.owl-dot {
  outline: none; }
  .owl-dot span {
    width: 1.5rem !important;
    height: 1.5rem !important;
    background-color: transparent !important;
    border: 1px solid #232323; }

.owl-dot.active span {
  background-color: #949292 !important; }

.owl-theme .owl-controls .owl-page {
  display: inline-block; }

.owl-theme .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #869791;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px; }

@media only screen and (max-width: 425px) {
  .section5 {
    display: none; } }

.section6__content {
  width: 140rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10rem auto; }
  .section6__content .owl-stage-outer {
    margin-left: 10rem;
    width: 125rem; }

.section6__book {
  height: 45rem;
  width: 34rem !important; }

.section6 .item {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.section6 h2 {
  font-family: game_of_thronesregular;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  width: 30rem;
  text-align: center;
  margin-left: 2rem;
  transform: translateY(-4rem); }

.section6 h1 {
  font-family: game_of_thronesregular;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 400;
  width: 30rem;
  text-align: center;
  margin-left: 2rem;
  transform: translateY(-4rem); }

.section6__title {
  font-size: 5rem;
  font-family: game_of_thronesregular;
  color: #ffffff;
  margin-bottom: 5rem;
  z-index: 1;
  text-align: center;
  width: auto;
  background-image: linear-gradient(to bottom, #e1ddca 50%, #ffffff 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.carousel2 {
  position: relative; }

.owl-prev {
  opacity: .5; }
  .owl-prev:hover {
    color: #000000 !important;
    opacity: 1; }
  .owl-prev span {
    font-size: 0; }
    .owl-prev span::after {
      content: '<';
      width: 7rem;
      height: 7rem;
      display: block;
      position: absolute;
      font-size: 8rem;
      line-height: .9;
      border-radius: 5px !important;
      background-color: #ffffff;
      top: 20rem;
      left: 0;
      opacity: .5; }

.owl-next {
  opacity: .7; }
  .owl-next:hover {
    color: #000000 !important;
    opacity: 1; }
  .owl-next span {
    font-size: 0; }
    .owl-next span::after {
      content: '>';
      width: 7rem;
      height: 7rem;
      display: block;
      position: absolute;
      font-size: 8rem;
      line-height: .9;
      border-radius: 5px !important;
      background-color: #ffffff;
      top: 20rem;
      right: -4rem;
      opacity: .7; }

.reflect2 {
  font-size: 5rem;
  line-height: 121px;
  position: relative;
  text-transform: uppercase; }

.reflect2::after {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: -3.9rem;
  left: 0;
  color: #e1ddca;
  display: block;
  content: 'PACHETUL GAME OF THRONES';
  transform: scaleY(-1);
  opacity: .3; }

@media only screen and (max-width: 425px) {
  .section6 {
    display: none; } }
