///////////////////////////////////////////////
///// FADE ANIMATION

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



///// BORDER ANIMATION

@keyframes borderr {
  0% {
    width: 0;
    transform: scaleX(1);
    }
    

  100% {
    width: 100%;
    transform: scaleX(1);

  } 
}


///// STICKY ANIMATION



@keyframes sticky {
  0% {
    opacity: 0.3;
    transform: translateY(120%);
    }
    
    50% {
      opacity: 0.5;
      }
      
    

  100% {
    opacity: 1;
    transform: translateY(0);
    }
}


@keyframes goaway {
  0% {
    opacity: 1;
    }
    

  99% {
    
    transform: translateY(-150%);

  }
  
  100% {
    visibility: hidden;
    display: none;
  }
}

///// opacity ANIMATION



@keyframes opacity {
  0% {
    background-color: $color-white;
    }
    

  100% {
    background-color: $color-primary;
    }
}

