.wrapper {
  max-width: auto;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

//////////////////////////
////// HEADER

.header {
  height: 8rem;
  display: flex;
  width: auto;
  justify-content: space-around;
  align-content: center;
}

.section1 {
  height: 85rem;
  background-image: url('../img/section1/background.png');
  display: flex;
  flex-direction: column;
}

.section2 {
  display: flex;
  justify-content: space-between;
  padding: 7rem 0;
  width: auto;
  height: auto;
}

.section3 {
  background-color: #ba813f;
  height: 20rem;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.section4 {
  height: auto;
  background-image: url('../img/section4/background.png');
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section5 {
  display: flex;
  align-items: center;
}

.section6 {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/section6/background.png');
    background-size: cover;
    filter: saturate(0%);
  }
}

@media only screen and (max-width: 425px) {
  .header {
    position: absolute;
    top: 7rem;
    width: 100%;
    z-index: 5;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #ffffff;
  }

  .section1 {
    background-size: cover;
  }

  .section2 {
    padding: 0;
  }

  .section5 {
    justify-content: space-between;
  }
}

