@font-face {
    font-family: 'game_of_thronesregular';
    src: url('game_of_thrones-webfont.woff2') format('woff2'),
         url('game_of_thrones-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
