////HEADER COMPONENT

.header {

  &__menu{
    display: none;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;

    &--search {
      display: none;
    }

  }

  &__logo {
    height: 4.4rem;
    width: auto;
    display: flex;
    align-content: center;
    margin-right: 2rem;

    & img {
      max-width: 20rem;
    }

  }

  &__search {
    & form {
      display: flex;

      & input {
        width: 29rem;
        height: 4.3rem;
        outline: none;
        background-color: #f9f9f9;
        border: 1px solid #eaeaea;
        border-radius: 5px 0 0 5px;

        &::placeholder {
          padding-left: 1rem;
        }

      }

      & button {
        width: 6rem;
        height: 4.3rem;
        background-color: #f9f9f9;
        border: 1px solid #eaeaea;
        outline: none;
        cursor: pointer;
        border-radius: 0 5px 5px 0;
      }

      & button > img{
        width: 2rem
      }
    }
  }

  &__account {
    display: flex;
    margin-right: 4rem;
    cursor: pointer;

    &--logo {
      margin-right: 1rem;

      & img {
        width: 2.2rem;
        height: 2.2rem;
      }
    }

    &--text {
      color: #007393;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  &__cart {
    display: flex;
    cursor: pointer;

    &--logo {
      margin-right: 1rem;

      & img {
        width: 2.2rem;
        height: 2.2rem;
      }
    }

    &--text {
      color: #007393;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: 425px) {
  .header {

    &__menu {
      display: block;
      width: 4rem;
      height: 3rem;
      margin-right: 1rem;
    }

    &__search {
      display: none;
    }

    &__right {
      &--search {
        display: block;
      }

      & img {
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
      }
    }

    &__account {
      margin-right: 0;

      &--text {
        display: none;
      }

      &--logo {
        margin-right: 0;

        & img {
          width: 3rem;
          height: 3rem;
        }
      }
    }

    &__cart {
      &--text {
        display: none;
      }

      &--logo {
        margin-right: 0;

        & img {
          width: 3rem;
          height: 3rem;
        }
      }
    }
  }
}
