.section3 {

  &__square {
    padding-top: 3rem;
    width: 27rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    border-right: 3px solid #ffffff;

    &:first-child {
      border-left: 3px solid #ffffff;
    }

    &--title {
      font-size: 5rem;
    }

    &--description {
      font-size: 1.8rem;
      text-align: center;
      padding: 0 2rem;
    }
  }
}

@media only screen and (max-width: 425px) {
  .section3 {
    margin-top: 5rem;
    flex-wrap: wrap;
    height: auto;

    &__square {
      flex: 0 50%;
      border-bottom: 3px solid #ffffff;
      border-right: none;
      padding: 2rem 0;

      &:first-child {
        border-left: none;
        border-right: 3px solid #ffffff;
      }

      &:nth-child(3) {
        border-right: 3px solid #ffffff;
      }

      &--title {
        font-size: 4rem;
      }
    }
  }
}

