///// First Section
@for $i from 1 through 5 {
  .cascade:nth-child(#{$i}) {
      z-index: 6 - $i;
      transform: translateY(-1rem * $i) translateX(-5rem * $i * 2);;
    }
}

.section1 {
  position: relative;

  &__title {
    font-size: 5rem;
    font-family: game_of_thronesregular;
    font-weight: 500;
    margin-left: 20rem;
    margin-top: 15rem;
    // background: -webkit-linear-gradient(#664400 50%, #000000 50%);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
  }

  &__books {
    display: flex;
    transform: translateX(28rem);
    margin-top: 5rem;
    max-width: 50vw;

    & img {
      height: 42rem;
    }
  }

  &__offer {
    background-color: #cb2a13;
    width: 20rem;
    height: 20rem;
    border-radius: 3rem;
    position: absolute;
    bottom: -2rem;
    left: 34rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
  }

  &__oldprice {
    font-size: 2.1rem;
    line-height: 1rem;
    color: #ffffff;
    margin-top: auto;
    position: relative;

    & p {
      margin: 0;
    }

    & img {
      position: absolute;
      width: 18rem;
      height: 2rem;
      top: -.3rem;
      left: -5rem;
    }
  }

  &__newprice {
    font-size: 3.5rem;
    line-height: 3.3rem;
    color: #ffffff;
    margin-top: 1rem;
  }

  &__counter {
    height: 16rem;
    width: 66rem;
    border-radius: 4.5rem 0 0 4.5rem;
    background-color: #696969;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4rem;
    position: absolute;
    bottom: 5rem;
    right: 0;
    overflow: hidden;

    &--title {
      font-size: 2.8rem;
      color: #ffffff;
      margin-bottom: .5rem;
    }

    &--content {
      display: flex;

      & p {
        font-size: 3rem;
        line-height: 1.5;
        font-weight: bold;
        margin: 0 .2rem;
      }
    }

    &--time {
      display: flex;
      flex-direction: column;
      align-items: center;

      & div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        padding: 0 1rem;
        border-radius: .5rem;
        background-image: linear-gradient(to bottom, #ffffff 50%, #eaeaea 50%);
        font-size: 3rem;
        width: 6rem
      }


      & p {
        color: #ffffff;
        font-size: 2rem;
        text-transform: uppercase;
      }
    }
  }
}

.reflect {
  font-size: 5rem;
  line-height: 121px;
  position: relative;
  text-transform: uppercase;
}

.reflect::after {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: -3.9rem;
  left: 0;
  color: #FFD700;
  display: block;
  content: 'PACHETUL GAME OF THRONES';
  transform: scaleY(-1);
  opacity: .3;
}

@media only screen and (max-width: 425px) {
  @for $i from 1 through 5 {
    .cascade:nth-child(#{$i}) {
      z-index: 6 - $i;
      transform: translateY(-.5rem * $i) translateX(-5rem * $i);;
    }
  }

  .section1 {
    height: auto;
    &__title {
      font-size: 2rem;
      margin-left: auto;
      margin-right: auto;
    }

    &__offer {
      left: 13rem;
      bottom: -1.5rem;
      width: 9rem;
      height: 10rem;
      padding-bottom: .2rem;
    }

    &__newprice {
      font-size: 2.2rem;
      margin-top: 0;
    }

    &__oldprice {
      font-size: 1.4rem;

      & img {
        height: 1rem !important;
        top: 0;
        left: -1.5rem;
        width: 8rem;
      }
    }

    &__books {
      margin-top: 0;
      margin-bottom: 6rem;
      transform: translateX(11rem);

      & img {
        height: 18rem;
      }
    }

    &__counter {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 2rem;
      background-color: transparent;
      display: flex;
      flex-direction: row;
      height: 7rem;
      align-items: center;
      justify-content: space-between;
      width: auto;
      border-radius: 0;

      &--content {
        & p {
          font-size: 2rem;
        }
      }

      &--time {
        & div {
          font-size: 2rem;
          width: auto;
        }

        & p {
          font-size: 1rem;
        }
      }

      &--title {
        color: #000000;
        font-size: 2.2rem;
      }
    }
  }

  .reflect::after {
    bottom: -1.8rem;
  }
}
