.section6 {
  &__content {
    width: 140rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10rem auto;

    & .owl-stage-outer {
      margin-left: 10rem;
      width: 125rem;
    }
  }

  &__book {
    height: 45rem;
    width: 34rem !important;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // width: 27rem;
  }

  & h2 {
    font-family: game_of_thronesregular;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 400;
    width: 30rem;
    text-align: center;
    margin-left: 2rem;
    transform: translateY(-4rem);
  }

  & h1 {
    font-family: game_of_thronesregular;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 400;
    width: 30rem;
    text-align: center;
    margin-left: 2rem;
    transform: translateY(-4rem);
  }

  &__title {
    font-size: 5rem;
    font-family: game_of_thronesregular;
    color: #ffffff;
    margin-bottom: 5rem;
    z-index: 1;
    text-align: center;
    width: auto;
    background-image: linear-gradient(to bottom, #e1ddca 50%, #ffffff 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
}

.carousel2 {
  position: relative;
}

.owl-prev {
  opacity: .7;

  &:hover {
    color: #000000 !important;
    opacity: 1;
  }

  & span {
    font-size: 0;

    &::after {
      content: '<';
      width: 7rem;
      height: 7rem;
      display: block;
      position: absolute;
      font-size: 8rem;
      line-height: .9;
      border-radius: 5px !important;
      background-color: #ffffff;
      top: 20rem;
      left: 0;
      opacity: .7;
    }
  }
}

.owl-next {
  opacity: .7;

  &:hover {
    color: #000000 !important;
    opacity: 1;
  }

  & span {
    font-size: 0;

    &::after {
      content: '>';
      width: 7rem;
      height: 7rem;
      display: block;
      position: absolute;
      font-size: 8rem;
      line-height: .9;
      border-radius: 5px !important;
      background-color: #ffffff;
      top: 20rem;
      right: -4rem;
      opacity: .7;
    }
  }
}

.reflect2 {
  font-size: 5rem;
  line-height: 121px;
  position: relative;
  text-transform: uppercase;
}

.reflect2::after {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: -3.9rem;
  left: 0;
  color: #e1ddca;
  display: block;
  content: 'PACHETUL GAME OF THRONES';
  transform: scaleY(-1);
  opacity: .3;
}

@media only screen and (max-width: 425px) {
  .section6 {
    // display: none;

    &__content {
      width: auto;
      margin: 0;

      & .owl-stage-outer {
        width: 37rem;
      }

      & h2 {
        width: 15rem;
        font-size: .8rem;
        text-align: left;
        margin-left: 0;
        transform: translateY(-2rem);
        text-align: center;
      }

      & h1 {
        width: 15rem;
        font-size: 1rem;
        text-align: left;
        margin-left: 0;
        transform: translateY(-2rem);
        text-align: center;
      }
    }

    &__book {
      height: 24rem;
      width: 15rem !important;
    }

    &__title {
      font-size: 2rem;
      margin-top: 3rem;
      margin-bottom: 0;
      line-height: 1.5;
    }
  }

  .owl-next {
    & span {

      &::after {
        top: 9rem;
        right: -16rem;
        width: 4rem;
        height: 4rem;
        font-size: 4.5rem;
      }
    }
  }

  .owl-prev {
    & span {

      &::after {
        top: 9rem;
        left: 1.5rem;
        width: 4rem;
        height: 4rem;
        font-size: 4.5rem;
      }
    }
  }
}

