.section2 {
  &__left {
    position: relative;

    & img {
      position: absolute;
      top: 0;
      height: 40rem;
    }

    & img:nth-child(2) {
      height: 28rem;
      top: 9rem;
    }
  }

  &__right {
    position: relative;

    & img {
      position: absolute;
      top: 0;
      right: 0;
      height: 40rem;
    }

     & img:nth-child(2) {
      height: 28rem;
      top: 9rem;
    }
  }

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    display: flex;
    margin-bottom: 4rem;
    margin-top: 5rem;

    &--1 {
      font-size: 3rem;
    }

    &--2 {
      font-family: game_of_thronesregular;
      font-size: 3rem;
    }
  }

  &__content {
    display: flex;
    margin-bottom: 5rem;
    margin-top: 5rem;

    &--left {
      display: flex;
      flex-direction: column;
      margin-right: 16rem;

      & div {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        & img {
          height: 3rem;
          margin-right: 1rem;
        }

        & p {
          font-size: 2rem;
          font-weight: 600;
        }
      }
    }

    &--right {
      display: flex;
      flex-direction: column;

      & button {
        color: #ffffff;
        background-color: #cb2a13;
        border-radius: 3rem;
        width: 30rem;
        height: 7rem;
        font-size: 2.2rem;
        margin-top: 2rem;
        border: none;
        cursor: pointer;
      }
    }
  }

  &__prices {
    display: flex;
    align-items: flex-end;
  }

  &__oldprice {
    text-align: center;
    font-size: 2rem;
    position: relative;
    width: 15rem;

    & img {
      width: 15rem;
      height: 1.2rem;
      position: absolute;
      top: 1rem;
      left: 0;
    }
  }

  &__newprice {
    font-size: 4rem;
    color: red;
    line-height: 1.2;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
      font-size: 1.8rem;
      font-weight: 500;
      width: 77.8rem;
    }

    & p:first-child {
      font-size: 2.2rem;
      text-align: center;
      margin-bottom: 3rem;
    }
  }

  &__order {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .section2 {
      &__left {

      & img {
        position: absolute;
        top: 15rem;
        height: 15rem;
      }

      & img:nth-child(2) {
        height: 10rem;
        top: 18rem;
      }
    }

    &__right {

      & img {
        position: absolute;
        top: 15rem;
        right: 0;
        height: 15rem;
      }

      & img:nth-child(2) {
        height: 10rem;
        top: 18rem;
      }
    }

    &__title {
      flex-direction: column;
      align-items: center;

      &--1 {
        font-size: 1.8rem;
      }

      &--2 {
        font-size: 2rem;
      }
    }

    &__content {
      flex-direction: column;
      align-items: center;
      margin-top: 0;

      &--left {
        margin-right: 0;

        & div {
          margin-bottom: 1rem;

          & img {
            width: 2rem;
            height: 2rem;
          }

          & p {
            font-size: 1.6rem;
          }
        }
      }
    }

    &__oldprice, &__newprice {
      display: none;
    }

    &__description {
      & p {
        width: 42rem;
        text-align: justify;
      }
    }

    &__order {
      margin-top: 2rem;
      display: flex;
      width: 40rem;
      justify-content: space-between;
      border-radius: 5px;
      border: 1px solid #999999;
      padding: .5rem;

      & div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
      }

      & p {
        font-size: 1.2rem;
        color: #999999;
        margin-right: auto;
      }

      & span {
        font-size: 1.4rem;
        color: #999999;
      }

      & h1 {
        font-size: 2.2rem;
      }
    }
  }
}
