.section5 {

  &__content{
  margin: 20rem auto;
  height: auto;
  width: 100rem;

    & h2 {
      margin-bottom: 5rem;
      font-size: 3.2rem;
      font-weight: 500;
    }
  }

  &__wolf {
    height: 33rem;
  }

  .item {
    width: 40rem;

    & p {
      font-size: 2rem;
      text-align: justify;
      margin-bottom: 2rem;
      font-style: italic;
      height: 20rem;

    }

    & h2 {
      text-align: end;
      margin-bottom: 5rem;
      font-size: 2.6rem;
      font-weight: 600;
    }
  }
}

///// OWL CAROUSEL

.owl-theme .owl-controls .owl-page {
    display: inline-block;
}

.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}

.owl-dot {
  outline: none;

  & span {
    width: 1.5rem !important;
    height: 1.5rem !important;
    background-color: transparent !important;
    border: 1px solid #232323;
  }
}

.owl-dot.active {

  & span {
    background-color: #949292 !important;
  }
}

.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}


@media only screen and (max-width: 425px) {
  .section5 {
    // display: none;

    & div {
      & img {
        height: 10rem;
      }
    }

    &__content {
      margin: 5rem 0;
      margin-left: 1rem;

      & h2 {
        font-size: 2.4rem;
      }

      .item {
        width: 36rem;

        & p {
          font-size: 1.4rem;
          text-align: justify;
          margin-bottom: 2rem;
          font-style: italic;
          height: 10rem;

        }

        & h2 {
          text-align: end;
          margin-bottom: 5rem;
          font-size: 1.8rem;
          font-weight: 600;
        }
      }
    }
  }



  .owl-dots{
    text-align: left !important;
    margin-left: 2rem;
  }

  .owl-carousel {
    max-width: 36rem;
  }
}
