.section4 {
  & h2 {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 500;
    margin-top: 20rem;
    margin-bottom: 8rem;
    width: 110rem;
  }

  & div {
    width: 97rem;
    display: flex;
    justify-content: flex-start;
    font-size: 2.2rem;
    margin-bottom: 7rem;

    & ol {
      list-style: decimal;
      margin-right: 3rem;
      margin-left: 2rem;
    }

    & ul {
      list-style: none;
    }
  }

  &__description {
    width: 80rem;
    flex-direction: column;
    font-size: 1.8rem;
    text-align: justify;


    & p {
      margin-bottom: 3rem;
    }
  }
}

.read-more-wrap {
  display: flex;
  flex-direction: column;
}



@media only screen and (max-width: 425px) {
  .section4 {
    padding: 0 4rem;
    & h2 {
      width: auto;
      margin: 5rem 0;
      font-size: 1.8rem;
    }

    & div {
      width: auto;
      font-size: 1.6rem;
      margin-right: auto;

      & p {
        margin-bottom: 0;
      }
    }

    &__description {
     width: auto;
    }

    .read-more-state {
      display: none;
    }

    .read-more-target {
      opacity: 0;
      max-height: 0;
      font-size: 0;
      transition: .25s ease;
    }

    .read-more-state:checked ~ .read-more-wrap .read-more-target {
      opacity: 1;
      font-size: inherit;
      max-height: 999em;
    }

    .read-more-wrap {
      display: flex;
      flex-direction: column;
    }

    .read-more-state ~ .read-more-trigger:before {
      content: 'vezi mai mult';
    }

    .read-more-state:checked ~ .read-more-trigger:before {
      content: 'vezi mai putin';
    }

    .read-more-trigger {
      cursor: pointer;
      display: inline-block;
      padding: 0 .5em;
      color: #ffffff;
      font-size: .9em;
      line-height: 2;
      text-align: center;
      transform: translateY(-5rem);
    }
  }
}
